<div class="container">
<h1><%= @task.title %></h1>
<div class="task-details">
  <div>
    <p><%= @task.details %></p>
  </div><%= link_to 'text', path %>
  </div>
  <%= link_to 'Back to the list', tasks_path %>
</div>
