<div class="container">
<h1><%= @task.title %></h1>
<div class="task-details">
  <div>
    <p><%= @task.details %></p>
  </div>
  </div>
  <%= link_to 'Edit my task', edit_task_path %><br>
  <%= link_to 'Back to the list', tasks_path %>
</div>
